html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.wrapper {
  height: 100%;
  width: 100%;
  font-family: "lobster_tworegular";
  background: #34495e;
  background-image: url("../assets/snow_bg1.png"), url("../assets/snow_bg2.png");
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
  min-height: 100%;
  z-index: 0; }
  .wrapper .orientationWrapper {
    display: none;
    position: relative;
    text-align: center;
    color: #eee;
    top: 50%;
    font-size: 2em;
    transform: translateY(-50%); }
  .wrapper .contentWrapper {
    position: relative;
    top: 50%;
    background-color: #E74C3C;
    transform: translateY(-50%);
    height: 350px; }
    .wrapper .contentWrapper .title {
      position: relative;
      top: -130px;
      font-size: 5em;
      color: #eee;
      font-family: "mountains_of_christmasregular" !important;
      text-align: center;
      z-index: 2; }
    .wrapper .contentWrapper .subtitle {
      position: relative;
      font-size: 1.5em;
      color: #eee;
      text-align: center;
      z-index: 2; }
    .wrapper .contentWrapper .top {
      top: -80px;
      font-size: 2.5em; }
    .wrapper .contentWrapper .bottom {
      top: 100px; }
    .wrapper .contentWrapper .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      border-radius: 50%;
      background-color: #FFFFFF;
      color: #E74C3C;
      text-align: center;
      width: 120px;
      height: 120px;
      line-height: 120px;
      font-size: 2em;
      z-index: 3; }
    .wrapper .contentWrapper .playRipple {
      z-index: 2; }
    .wrapper .contentWrapper .author {
      width: 100%;
      position: absolute;
      bottom: -100px;
      text-align: center;
      color: white;
      font-size: 1em;
      letter-spacing: 2px;
      z-index: 1; }
      .wrapper .contentWrapper .author .red {
        color: #E74C3C; }
      .wrapper .contentWrapper .author a {
        color: #2ecc71;
        text-decoration: none; }
        .wrapper .contentWrapper .author a:hover {
          color: #2ecc71;
          text-decoration: underline !important; }

.message, .ready, .lost {
  display: none;
  width: 100%;
  text-align: center;
  font-family: "lobster_tworegular";
  color: #eee;
  font-size: 3em;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-shadow: 1px 1px black;
  background-color: rgba(0, 0, 0, 0.5); }

.score {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "lobster_tworegular";
  color: #eee;
  font-size: 3em;
  text-shadow: 1px 1px black; }

#renderCanvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

@-webkit-keyframes snow {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
@-moz-keyframes snow {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
@keyframes snow {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
@-webkit-keyframes ripple-anim {
  from {
    transform: translateY(-50%) translateX(-50%) scale(1); }
  to {
    transform: translateY(-50%) translateX(-50%) scale(50); } }
@-moz-keyframes ripple-anim {
  from {
    transform: translateY(-50%) translateX(-50%) scale(1); }
  to {
    transform: translateY(-50%) translateX(-50%) scale(50); } }
@keyframes ripple-anim {
  from {
    transform: translateY(-50%) translateX(-50%) scale(1); }
  to {
    transform: translateY(-50%) translateX(-50%) scale(50); } }
.rippleEffect {
  -webkit-animation: ripple-anim 1s;
  -moz-animation: ripple-anim 1s;
  animation: ripple-anim 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.fadeout {
  -webkit-animation: fade-out 1s;
  -moz-animation: fade-out 1s;
  animation: fade-out 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@font-face {
  font-family: 'mountains_of_christmasregular';
  src: url("../fonts/MountainsofChristmas-webfont.eot");
  src: url("../fonts/MountainsofChristmas-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MountainsofChristmas-webfont.woff") format("woff"), url("../fonts/MountainsofChristmas-webfont.ttf") format("truetype"), url("../fonts/MountainsofChristmas-webfont.svg#mountains_of_christmasregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lobster_twobold';
  src: url("../fonts/lobstertwo-bold-webfont.eot");
  src: url("../fonts/lobstertwo-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lobstertwo-bold-webfont.woff2") format("woff2"), url("../fonts/lobstertwo-bold-webfont.woff") format("woff"), url("../fonts/lobstertwo-bold-webfont.ttf") format("truetype"), url("../fonts/lobstertwo-bold-webfont.svg#lobster_twobold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lobster_tworegular';
  src: url("../fonts/lobstertwo-regular-webfont.eot");
  src: url("../fonts/lobstertwo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lobstertwo-regular-webfont.woff2") format("woff2"), url("../fonts/lobstertwo-regular-webfont.woff") format("woff"), url("../fonts/lobstertwo-regular-webfont.ttf") format("truetype"), url("../fonts/lobstertwo-regular-webfont.svg#lobster_tworegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@media only screen and (orientation: portrait) {
  .wrapper .contentWrapper {
    display: none; }
  .wrapper .orientationWrapper {
    display: block; }

  .score {
    display: none; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: landscape) {
  .wrapper {
    font-size: 8pt; }
    .wrapper .contentWrapper {
      height: 180px; }
      .wrapper .contentWrapper .title {
        top: -70px;
        font-size: 4em; }
      .wrapper .contentWrapper .subtitle {
        font-size: 1.5em; }
      .wrapper .contentWrapper .top {
        top: -45px;
        font-size: 2em; }
      .wrapper .contentWrapper .bottom {
        top: 40px; }
      .wrapper .contentWrapper .play {
        width: 50px;
        height: 50px;
        line-height: 50px; }
      .wrapper .contentWrapper .author {
        z-index: 520;
        font-size: 1em;
        bottom: -50px; } }

/*# sourceMappingURL=main.css.map */
