// All devices on portrait
@media only screen and (orientation: portrait) {

  .wrapper {
    // Remove text
    .contentWrapper {
      display:none;
    }
    // Display orientation text
    .orientationWrapper {
      display:block;
    }
  }

  .score {
    display:none;
  }

}

// Smartphones on landscapes
@media only screen
      and (min-device-width: 320px)
      and (max-device-width: 768px)
      and (orientation: landscape) {

  .wrapper {
    font-size : 8pt;

    .contentWrapper {
      height : 180px;

      // Christmas runner
      .title {
        top:-70px;
        font-size: 4em;
      }

      // Collect as many gifts as you can !
      .subtitle {
        font-size: 1.5em;
      }

      .top {
        top:-45px;
        font-size: 2em;
      }

      .bottom {
        top: 40px;
      }

      $height: 50px;
      .play {
        width: $height;
        height: $height;
        line-height: $height;
      }

      .author {
        z-index: 520;
        font-size: 1em;
        bottom: -50px;
      }

    }


  }
}