@import "bourbon/bourbon";

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

// Blue background
$color-bg: #34495e;
$color-bg2: #677C9f;

//Green banner background
$color-green: #2ecc71;
$color-red : #E74C3C;

// Green button
$color-bg3 : #FFFFFF;

// Font color
$color-font: #eee;

// Font family
$font: "lobster_tworegular";
$font-title: "mountains_of_christmasregular";

// Button height
$height : 120px;

.wrapper {
  height:100%;
  width:100%;
  font-family :$font;
  background: $color-bg;
  background-image: url('../assets/snow_bg1.png'), url('../assets/snow_bg2.png');
  @include animation(snow 20s linear infinite);
  min-height: 100%;
  z-index: 0;

  // Displayed on mobile
  .orientationWrapper {
    display:none;
    position:relative;
    text-align: center;
    color:$color-font;
    top:50%;
    font-size: 2em;
    transform: translateY(-50%);
  }

  // The red banner in the center
  .contentWrapper {
    position:relative;
    top:50%;
    background-color: $color-red;
    transform: translateY(-50%);
    height:350px;

    // The title of the game
    .title {
      position:relative;
      top:-130px;
      font-size: 5em;
      color:$color-font;
      font-family: $font-title !important;
      text-align: center;
      z-index: 2;
    }

    // Collect as many gifts as you can !
    .subtitle {
      position:relative;
      font-size: 1.5em;
      color:$color-font;
      text-align: center;
      z-index: 2;
    }

    .top {
      top:-80px;
      font-size: 2.5em;
    }

    .bottom {
      top: 100px;
    }

    // Play button
    .play {
      position:absolute;
      top:50%;
      left:50%;
      transform:translateY(-50%) translateX(-50%);
      border-radius: 50%;
      background-color: $color-bg3;
      color:$color-red;
      text-align: center;
      width:$height;
      height:$height;
      line-height: $height;
      font-size: 2em;
      z-index: 3;
    }

    // Ripple effect
    .playRipple {
      z-index: 2;
    }

    // authors
    .author {
      width:100%;
      position:absolute;
      bottom:-100px;
      text-align:center;
      color:white;
      font-size: 1em;
      letter-spacing: 2px;
      z-index:1;

      .red {
        color:$color-red;
      }
      a {
        color:$color-green;
        text-decoration: none;

        &:hover {
          color:$color-green;
          text-decoration: underline !important;
        }
      }
    }
  }
}

// Space to start !
.message {
  display:none;
  width:100%;
  text-align:center;
  font-family :$font;
  color:$color-font;
  font-size: 3em;
  position:absolute;
  top:50%;
  transform: translatey(-50%);
  text-shadow: 1px 1px black ;
  background-color: rgba(0, 0, 0, 0.5);
}

.ready {
  @extend .message;
}

.lost {
  @extend .message;
}

// Game score
.score {
  display:none;
  position:absolute;
  top:10px;
  right : 10px;
  font-family :$font;
  color:$color-font;
  font-size: 3em;
  text-shadow: 1px 1px black ;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@import "animations";
@import "fonts";
@import "mobile";